* {
  margin: 0;
  padding: 0;
}
.main .left {
  padding: 24px 20px;
  box-sizing: border-box;
  width: 730px;
  float: left;
  border: 1px solid #ccc;
  border-bottom-width: 0;
}

.main .left .hot h2 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  border-bottom: 3px solid #bf1d0c;
}
.main .left .hot h2 span {
  float: left;
  line-height: 36px;
} 
.main .left .hot h2 i {
  display: block;
  float: left;
  width: 36px;
  height: 36px;
  background-image: radial-gradient(#fff 15%,#bf1d0c 15%,#bf1d0c 30%,#fff 32%);
}
.main .left .hot .item {
  width: 140px;
  border: 1px solid transparent;
  height: 186px;
  margin: 20px 40px 20px 0;
  float: left;
  position: relative;
}
.main .left .hot .item:nth-child(4),.main .left .item:nth-child(8){
  margin-right: 0;
}
.main .left .item img {
  display: block;
  width: 100%;
}
.main .left .hot .item .mark {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(-45deg,rgba(0,0,0,0.3) 50%,rgba(255,255,255,0.3) 50%);
}

.main .left .hot .item .bottom {
  width: 140px;
  height: 28px;
  box-sizing: border-box;
  position: absolute;
  top: 112px;
  left: 0;
  z-index: 5;
  border: 1px solid #444;
  line-height: 28px;
  font-size: 13px;
  padding-left: 10px;
  background-color: rgba(0,0,0,0.5);
  color: #ccc;
} 
.main .left .hot .item p {
  font-size: 14px;
}

.main .rigth {
  width: 254px;
  float: left;
}